<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="clan" type="Clan"*/-->
<head>
    <meta charset="utf-8">
    <title th:text="${clan.clan_name}">Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/public/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link href="/public/css/mobile/base.css" th:href="@{/css/mobile/base.css}" rel="stylesheet">
</head>
<body>

<div class="container-fluid">
    <nav role="navigation" class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Brawlhalla Stats Requester</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <form action="#" th:object="${p}"  th:action="@{/search}" id="search" name="search">
                            <input type="hidden" value="all" th:field="*{region}">
                            <div class="input-group">
                                <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="Player Name" style="margin-top: 5%">
                                <span class="input-group-btn">
                                    <a class="btn btn-default" id="sbutton" href="javascript:document.search.submit()" style="margin-top: 18%">Search</a>
                                </span>
                            </div>
                        </form>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" >
                </ul>
            </div>
        </div>
    </nav>

    <h2 th:text="${clan.clan_name}">Clan Name</h2>
    <div class="jumbotron">
        <h3>Clan Stats</h3>
        <label th:text="'Clan Create Date: ' + ${clan.getFormattedDate()}">Date</label><br>
        <label th:text="'Total XP: ' + ${clan.clan_xp}"></label>
        <div class="container-fluid table-responsive">
            <table class="table table-striped" style="overflow-y: hidden">
                <thead>
                <tr>
                    <th style="width: 25%">Player</th>
                    <th style="width: 25%">Rank</th>
                    <th style="width: 25%">Join Date</th>
                    <th style="width: 25%">Clan XP</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="player : ${clan.clan}">
                    <td style="width: 25%"><a th:text="${player.name}" th:href="@{${'/player/' + player.brawlhalla_id}}">Name</a></td>
                    <td style="width: 25%" th:text="${player.rank}">Rank</td>
                    <td style="width: 25%" th:text="${player.getFormattedDate()}">Join Date</td>
                    <td style="width: 25%;" th:text="${player.xp}">Clan XP</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>