<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Home page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/public/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link href="/public/css/search.css" th:href="@{/css/search.css}" rel="stylesheet">
</head>
<body>

<nav role="navigation" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Brawlhalla Stats Requester</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav"></ul>
            <ul class="nav navbar-nav navbar-right" >
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <img src="/public/assets/BrawlhallaLogo.png" th:src="@{/assets/BrawlhallaLogo.png}" width="80%" class="col-md-offset-1" style="margin-top: 40px">
    <form class="form-search" action="#" th:object="${player}" th:action="@{search}" style="margin-top: 50px">
        <input class="form-control" type="text" th:field="*{name}" placeholder="Player Name" required autofocus>
        <label for="region">Region:</label>
        <select id="region" class="form-control" th:field="*{region}" required>
            <option value="all" selected>All</option>
            <option value="eu">Europe</option>
            <option value="us-e">US-East</option>
            <option value="us-w">US-West</option>
            <option value="sea">Southeast Asia</option>
            <option value="brz">Brazil</option>
            <option value="aus">Australia</option>
        </select>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
        <p th:if="${param.error}" style="color: #761c19">Too many request in 15 minutes, try again later.</p>
    </form>
</div>

<script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="application/javascript" src="/public/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>