<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="playerRanked" type="es.davidog.brawlhalla.model.PlayerRanked"*/-->
<!--/*@thymesVar id="player" type="es.davidog.brawlhalla.model.Player"*/-->
<head>
    <meta charset="utf-8">
    <title th:text="${playerRanked.name}">Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/public/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link href="/public/css/tables.css" th:href="@{/css/tables.css}" rel="stylesheet">
</head>
<body>

<nav role="navigation" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Brawlhalla Stats Requester</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav"></ul>
            <ul class="nav navbar-nav navbar-right" >
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <h3 th:text="${player.name}">Nombre</h3>
    <div class="row">
        <div class="col-md-2">
            <h4>Most Played Legend:</h4>
            <img style="height: 300px;" th:src="@{'/assets/' + ${player.mostPlayedLegend().getLegend_name_key().toUpperCase().replace(' ', '_') + '.png'}}">
        </div>
        <div class="jumbotron col-md-10">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <h2>General Player Stats</h2>
                        <label th:text="'Level: ' + ${player.level}">Level</label><br>
                        <label th:text="'Time Played: ' + ${player.getFormattedMatchtime()}">Time Played</label><br>
                        <label th:text="'Win-Loss: ' + ${player.wins} + '-' + ${player.games - player.wins}">Win-Loss</label><br>
                        <label th:text="'Win Rate: ' + ${player.getWinRate()} + '%'">Win Rate</label>
                    </div>
                    <div class="col-md-9">
                        <table class="table table-striped header-fixed">
                            <thead>
                            <tr>
                                <th style="width: 20%">Legend</th>
                                <th style="width: 17%">Time Played</th>
                                <th style="width: 20%">Weapon One Use</th>
                                <th style="width: 21%">Weapon Two Use</th>
                                <th style="width: 18%">Win Rate</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="legend : ${player.legends}">
                                <td th:text="${legend.getFormattedName()}" style="width: 20%">Legend</td>
                                <td th:text="${legend.getFormattedMatchtime()}" style="width: 20%">Match Time</td>
                                <td th:text="${legend.getFormattedTimeHeldWeaponOne()}" style="width: 20%">Time Held Weapon One</td>
                                <td th:text="${legend.getFormattedTimeHeldWeaponTwo()}" style="width: 20%">Time Held Weapon Two</td>
                                <td th:text="${legend.getWinRate()} + '%'" style="width: 20%">Win Rate</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <h4>Most Ranked Legend:</h4>
            <img style="height: 300px;" th:src="@{'/assets/' + ${playerRanked.mostPlayedLegend().getLegend_name_key().toUpperCase().replace(' ', '_') + '.png'}}">
        </div>
        <div class="jumbotron col-md-10">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <h2>Ranked 1v1 Stats</h2>
                        <label th:text="'Global Rank: ' + ${playerRanked.getGlobal_rank()}">Global Rank</label><br>
                        <label th:text="'Regional Rank: ' + ${playerRanked.getRegion_rank()} + ' (' + ${playerRanked.region.toUpperCase()} + ')'">Regional Rank</label><br>
                        <label th:text="'Rating: ' + ${playerRanked.tier} + ' (' + ${playerRanked.rating} + ')'">Tier+Current Elo</label><br>
                        <label th:text="'Peak elo: ' + ${playerRanked.peak_rating}">Peak Elo</label><br>
                        <label th:text="'Win-Loss: ' + ${playerRanked.wins} + '-' + ${playerRanked.games - playerRanked.wins}">Win-Loss</label><br>
                        <label th:text="'Win Rate: ' + ${playerRanked.getWinRate()} + '%'">Win Rate</label>
                    </div>
                    <div class="col-md-9">
                        <table class="table table-striped header-fixed">
                            <thead>
                            <tr>
                                <th style="width: 24%">Legend</th>
                                <th style="width: 25%">Current Rating</th>
                                <th style="width: 24%">Peak</th>
                                <th style="width: 25%">Win Rate</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="legend : ${playerRanked.legends}">
                                <td th:text="${legend.getFormattedName()}" style="width: 25%">Legend</td>
                                <td th:text="${legend.tier} + ' (' + ${legend.rating} + ')'" style="width: 25%">Current Rating</td>
                                <td th:text="${legend.peak_rating}" style="width: 25%">Peak elo</td>
                                <td th:text="${legend.getWinRate() + '%'}" style="width: 25%">Win Rate</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="application/javascript" src="/public/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>